/* .left{
	background-image: url(../img/jianbian.jpg);
}

.right{
	background-image: url(../img/jianbian.jpg);
}

.top{
	background-image: url(../img/jianbian.jpg);
} */

/* 
a{
	text-decoration: none;
}

a:hover{
	font-size: 20px;
	color: violet;
} */
